/**
 * -----------------------------------------------------------------------------
 * RESET
 * -----------------------------------------------------------------------------
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

/**
 * -----------------------------------------------------------------------------
 * VARIABLES
 * -----------------------------------------------------------------------------
 */
:root {
  
  /* Couleurs */
  --primary:    #CCCCCC;
  --dark:       #D88D96;
  --light:      antiquewhite;
  --white:      #E5E5E5;

  /* Background-color des sections */ 
  --bg-presentation:  #BC4352;
  --bg-qualites:      #CA6874;
  --bg-formations:    #BC4352;
  --bg-experiences:   #BC4352;
  --bg-profil:        #CA6874;

  /* Bordures Générales */
  --border-color: var( --primary );
  --border-top:     0.1rem solid var( --border-color );
  --border-right:   0.1rem solid var( --border-color );
  --border-bottom:  0.1rem solid var( --border-color );
  --border-left:    0.1rem solid var( --border-color );

  /* Tag H1 */
  --h1: var( --dark );

  /* Tag H2 */
  --h2:               var( --dark );
  --h2-border-color:  var( --h2 );
  --h2-border-bottom: 0.1rem solid var( --light );
  --i:                var( --light );

  /* Tags A (link) Strong (gras) Em (emphases) */
  --link:   var( --dark );
  --strong: var( --light );
  --em:     var( --white );

  /* Tag Progress */  
  --progress-bg:  var( --dark );
  --progress-bar: var( --light );

  /* Tags DL DT DD */
  --dt: var( --light );
  --dd: var( --white );

}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL
 * -----------------------------------------------------------------------------
 */
body {
  background-color: var(--bg-presentation);
  color: var( --primary );
  font-size: 1.4rem;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid: 
    "presentation" 1fr
    "qualites" 1fr
    "formations" 1fr
    "experiences" 1fr
    "profil" 1fr / 1fr;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > H1 - H2 - H3
 * -----------------------------------------------------------------------------
 */
h1,
h2,
h3 {
  text-transform: uppercase;
  text-align: center;
}
h2, h2 > i {
  font-size: 2.0rem;
}
h2 > i {
  color: var( --i );
}
h2, h3 {
  font-style: italic;
}

h1 {
  font-size: 2.4rem;
  color: var(--h1);
}
h2 {
  margin: 0 0 1rem 0;
  color: var(--h2);
  border-bottom: var( --h2-border-bottom );
  padding-bottom: 1rem;
}
h3 {
  font-size: 1.6rem;
  color: var(--white);
  padding: 1rem 0 0 0;
  
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > I
 * -----------------------------------------------------------------------------
 */
i {
  color: var( --i );
}
i::after {
  content: "";
  padding-right: 0.5rem;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > UL LI A OL
 * -----------------------------------------------------------------------------
 */
ul {
  list-style: none;
}
ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: 1.4rem;
}
ul li i {
  font-size: 1.4rem;
}

ol {
  position: relative;
}
ol li {
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.5rem 0;
}
ol li:first-child {
  padding-top: 1rem;
}
ol li:last-child {
  padding-bottom: 1rem;
}


/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > DL DT DD
 * -----------------------------------------------------------------------------
 */

dl {
  margin: 0 auto;
}
dt {
  font-weight: 300;
  line-height: 1.6rem;
  font-size: 1.6rem;
  text-align: left;
  color: var( --dt );
}
dt::before {
  content: '\221A'; /* https://www.compart.com/fr/unicode/U+221A */
  padding-right: 1rem;
}
dd {
  font-weight: 300;
  font-style: italic;
  padding-left: 3rem;
  color: var( --dd );
}
dd:last-child {
  margin-bottom: 0;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > SPAN EM STRONG PROGRESS
 * -----------------------------------------------------------------------------
 */
span, em, strong {
  font-size: 1.2rem;
}

span > i {
  font-size: 1.2rem;
  padding-right: 1rem;
  color: var(--i);
}

strong {
  font-weight: 700;
  color: var(--strong);
  font-size: 1.4rem;
}

em {
  font-weight: 400;
  color: var(--em);
  font-size: 1.3rem;
}

progress {
  width: 15rem;
  background-color: var(--progress-bg);
}
progress::-webkit-progress-value { background: var(--progress-bar); }
progress::-moz-progress-bar { background: var(--progress-bar); }

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  background-color: var( --bg-presentation );
  border-right: var( --border-right );
  padding: 1.4rem;
  max-height: 102rem;
  min-width: 100vw;
  max-width: 100vw;

  display: grid;
  grid: 
    "nom" 1fr
    "contact" 10rem
    "competences" 1fr
    "informations" 1fr
    "langues" 1fr / 1fr;
}

.nom {
  grid-area: nom;
  display: flex;
  flex-flow: column wrap;
}
.nom figure img {
  display: flex;
  align-self: center;
  padding: 2rem 2rem 0 2rem;
  width: 100%;
  filter: sepia(100%);
}
.nom figure figcaption {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
}
.nom figure figcaption > i {
  font-size: 1.4rem;
}
.nom figure figcaption > i::after {
  content: " 06.22.63.79.24";
  color: var( --white );
  font-size: 1.6rem;
  font-weight: 300;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > CONTACT
 * -----------------------------------------------------------------------------
 */
.contact {
  grid-area: contact;
  padding: 1rem;
  font-size: 1.4rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > INFORMATIONS
 * -----------------------------------------------------------------------------
 */
.informations {
  grid-area: informations;
  padding: 1rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > COMPETENCES
 * -----------------------------------------------------------------------------
 */
.competences {
  grid-area: competences ;
  padding: 2rem 1rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > LANGUES
 * -----------------------------------------------------------------------------
 */
.langues {
  grid-area: langues;
  padding: 1rem 1rem 0 1rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PROFIL
 * -----------------------------------------------------------------------------
 */
.profil {
  grid-area: profil;
  background-color: var(--bg-profil);
  padding: 4rem 2rem;
  border-bottom: 0.1rem solid var(--border-color);
  max-width: 100vw;
}
.profil p {
  line-height: 1.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.16rem;
  padding: 2rem;
  columns: 1;
  white-space: pre-line;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  grid-area: formations;
  background-color: var(--bg-formations);
  padding: 4rem 2rem;
  max-width: 100vw;
  min-height: 120rem;
}

.formations dt, .experiences dt {
  margin-top: 9rem;
}
.formations dd, .experiences dd {
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.formations a {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.4rem;
  text-decoration: none;
  color: var( --primary );
  font-weight: 700;
}

.experiences {
  grid-area: experiences;
  background-color: var(--bg-experiences);
  padding: 5rem 2rem;
  max-width: 100vw;
  min-height: 100rem;
}

.img_formations, .img_experiences {
  position: absolute;
  min-width: 5rem;
  max-width: 5rem;
  min-height: 5rem;
  max-height: 5rem;
  filter: drop-shadow(0 0 0.2rem var( --white ));
}

.img_formations {
  top: -9rem;
  left: 9rem;
  
}

.img_experiences {
  top: -10rem;
  right: 12rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  grid-area: qualites;
  background-color: var(--bg-qualites)!important;
  border-top: var( --border-top );
  padding: 5rem 2rem;
  max-width: 100vw;
  min-height: 55rem;
}

.qualites dl {
  margin: 1rem;
}

.qualites dt {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
  color: var( --dt );
}
.qualites dt::before {
  content: '\1F3C5'; /* https://www.compart.com/fr/unicode/U+1F3C5 */
  padding-right: 1rem;
}

.qualites dd {
  font-weight: 400;
  padding-top: 1rem;
  padding-left: 4rem;
  font-style: italic;
  color: var(--white);
  font-size: 1.4rem;
}

