/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL
 * -----------------------------------------------------------------------------
 */
body {
  background-color: var(--bg-dark-1);
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid: 
    "presentation presentation" 1fr
    "profil profil" 1fr
    "formations__experiences" 1fr
    "qualites qualites" 1fr / 1fr 1fr;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > H1 - H2 - H3
 * -----------------------------------------------------------------------------
 */
h1 {
  font-size: 3rem;
}
h2, h2 > i {
  font-size: 2.6rem;  
}
h3 {
  font-size: 2.2rem;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > UL LI A
 * -----------------------------------------------------------------------------
 */
ul li {
  font-size: 1.6rem;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > DL DT DD
 * -----------------------------------------------------------------------------
 */

dl {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}


dt {
  line-height: 1.6rem;
  font-size: 1.6rem;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > SPAN EM STRONG PROGRESS
 * -----------------------------------------------------------------------------
 */
span, em, strong {
  font-size: 1.6rem;
}
span > i {
  font-size: 1.6rem;
}
progress {
  width: 30rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  padding: 4rem;
  min-height: 80rem;

  display: grid;
  grid: 
    "nom competences" 1fr
    "informations langues" 1fr / 1fr 1fr;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PROFIL
 * -----------------------------------------------------------------------------
 */
.profil {
  padding: 10rem 4rem;
}
.profil p {
  font-size: 1.6rem;
  padding: 2rem;
  columns: 2;
  column-gap: 4rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS & EXPERIENCES - ( container )
 * -----------------------------------------------------------------------------
 */
.formations__experiences {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 100vw;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  grid-area: formations;
  width: 50vw;
  font-size: 1.6rem;
  border-right: 0.1rem solid var(--border-color);
}
.experiences {
  grid-area: experiences;
  width: 50vw;
  font-size: 1.6rem;
}

.formations dt, .experiences dt {
  margin-top: 10rem;
}

.formations a {
  font-size: 1.6rem;
}

.ul_formations img {
  top: -9rem;
  left: 18rem;
}
.ul_experiences img {
  top: -11rem;
  right: 21rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  grid-area: qualites;
  background-color: var(--bg-dark-2);
  padding: 10rem 5rem;
  max-height: 10rem;
}

.qualites dl {
  margin-top: 5rem;
}

.qualites dd {
  font-size: 1.6rem;
  padding-left: 6rem;
}

