/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL
 * -----------------------------------------------------------------------------
 */
body {
  display: flex;
  flex-flow: row wrap;
  /* grid: 
    "presentation qualites" 1fr
    "formations__experiences" 1fr
    "profil profil" 1fr / 1fr 2fr; */
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  min-height: 100vh;
  max-height: 108.1rem;
  max-width: 40rem;
  padding: 4rem!important;
  display: grid;
  grid: 
    "nom" 1fr
    "contact" 1fr
    "apprends" 1fr
    "langues" 1fr / 1fr;
  box-shadow: 0 -2rem 2rem var(--light1);
  z-index: 1;
}

.nom {
  grid-area: nom;
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-flow: column nowrap;
}

.nom figure img {
  max-width: 60%;
}
.nom figure figcaption {
  padding: 1rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > CONTACT
 * -----------------------------------------------------------------------------
 */
.contact {
  grid-area: contact;
  margin: 2rem;
  
}
/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > APPRENDRE
 * -----------------------------------------------------------------------------
 */
.apprends {
  grid-area: apprends ;
  margin: 1rem;
  padding: 2em;
  border-radius: 0%;
}

.liste_icone {
  justify-content: space-around;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > LANGUES
 * -----------------------------------------------------------------------------
 */
.langues {
  grid-area: langues;
  margin: 1rem;
  padding: 2rem;
}





/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  grid-area: qualites;
  background-color: var(--bg-qualites)!important;
  max-height: 100vh;
  max-width: calc(100vw - 40rem);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.qualites h2 {
  color: var(--text-dark);
  border-bottom: var( --border-bottom-primary );
  padding-bottom: 1rem;
  width: 60%;
}

.qualites dl {
  margin: 3rem 6rem;
}

.qualites dt {
  margin-top: 3rem;
  font-weight: 300;
  font-size: 1.6rem;
  padding-top: 2rem;
  color: var( --text-dark );
  border-top: var( --border-top-primary );
}

.qualites dd {
  font-weight: 400;
  padding-top: 1rem;
  padding-left: 2rem;
  font-style: italic;
  color: var(--light1);
  font-size: 1.4rem;
}
.qualites dd::before {
  content: '\2014'; /* https://www.compart.com/fr/unicode/U+2014 — */
  font-size: 1.6rem;
  padding-right: 0.5rem;
}




















































/**
 * -----------------------------------------------------------------------------
 * SECTION PROFIL
 * -----------------------------------------------------------------------------
 */
.profil {
  padding: 10rem 4rem;
}
.profil p {
  font-size: 1.6rem;
  padding: 2rem;
  columns: 3;
  column-gap: 4rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS & EXPERIENCES - ( container )
 * -----------------------------------------------------------------------------
 */
.formations__experiences {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 100vw;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  grid-area: formations;
  width: 50vw;
  font-size: 1.6rem;
  border-right: 0.1rem solid var(--border-color);
  padding: 10rem 2rem;
}
.experiences {
  grid-area: experiences;
  width: 50vw;
  font-size: 1.6rem;
  padding: 10rem 2rem;
}

.formations dt, .experiences dt {
  margin-top: 10rem;
}

.formations a {
  font-size: 1.6rem;
}

.img_formations {
  top: -9rem;
  left: 18rem;
}
.img_experiences {
  top: -9rem;
  right: 21rem;
}
