/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  padding: 5rem 2rem;
  max-height: 130rem;
}

.nom {
  margin: 2rem;
}

.nom figure img {
  padding: 1rem 0 0 0;
  max-width: 75%;
  margin: 0 auto;
}
.nom figure figcaption {
  padding: 1rem 0 0 0;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > CONTACT
 * -----------------------------------------------------------------------------
 */
.contact {
  margin: 4rem;  
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > APPRENDRE
 * -----------------------------------------------------------------------------
 */
.apprends {
  margin: 8rem 4rem 4rem 4rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > LANGUES
 * -----------------------------------------------------------------------------
 */
.langues {
  padding: 4rem;
}





/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  min-height: 105rem;
}
.experiences {
  min-height: 85rem;
}

.ul_formations img {
  right: 18rem;
}
.ul_experiences img {
  right: 18rem;
}




/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations dd, .experiences dd {
  padding-left: 4rem;
}
.formations a {
  font-size: 1.4rem;
}
.img_formations {
  left: 12rem;
}
.img_experiences {
  right: 17rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  padding: 10rem 4rem;
  min-height: 112rem;
}
.qualites dt {
  font-size: 1.7rem;
}
.qualites dd {
  font-size: 1.5rem;
}