/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > PROGRESS
 * -----------------------------------------------------------------------------
 */
progress {
  width: 18rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations dt, .experiences dt {
  margin-top: 10rem;
}

.ul_formations img {
  right: 15rem;
}
.ul_experiences img {
  right: 15rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  min-height: 55rem;
}
