/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > PROGRESS
 * -----------------------------------------------------------------------------
 */
progress {
  width: 20rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  min-height: 105rem;
}
.experiences {
  min-height: 85rem;
}


.ul_formations img {
  right: 18rem;
}
.ul_experiences img {
  right: 18rem;
}