/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  padding: 5rem 2rem;
  max-height: 125rem;
}

.nom figure img {
  padding: 1rem 0 0 0;
  max-width: 75%;
  margin: 0 auto;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > CONTACT
 * -----------------------------------------------------------------------------
 */
.contact {
  margin: 3rem;  
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > APPRENDRE
 * -----------------------------------------------------------------------------
 */
.apprends {
  margin: 6rem 3rem 3rem 3rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > LANGUES
 * -----------------------------------------------------------------------------
 */
.langues {
  margin: 0 2rem 2rem 2rem;
}


/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations dd, .experiences dd {
  padding-left: 3rem;
}
.formations a {
  font-size: 1.4rem;
}
.img_experiences {
  top: -10rem;
  right: 15rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  padding: 9rem 3rem;
}
.qualites dt {
  font-size: 1.7rem;
}
.qualites dd {
  font-size: 1.5rem;
}