

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  min-height: 105rem;
}
.experiences {
  min-height: 85rem;
}

.ul_formations img {
  right: 18rem;
}
.ul_experiences img {
  right: 18rem;
}



/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  max-height: 106rem;
}
/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > PROGRESS
 * -----------------------------------------------------------------------------
 */
progress {
  width: 25rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations dd, .experiences dd {
  padding-left: 4rem;
}
.formations a {
  font-size: 1.4rem;
}
.img_formations {
  left: 12rem;
}
.img_experiences {
  right: 17rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  padding: 10rem 4rem;
  min-height: 105rem;
}
.qualites dt {
  font-size: 1.7rem;
}
.qualites dd {
  font-size: 1.5rem;
}