/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  max-height: 105rem;
}
/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > PROGRESS
 * -----------------------------------------------------------------------------
 */
progress {
  width: 20rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations dd, .experiences dd {
  padding-left: 3rem;
}
.formations a {
  font-size: 1.4rem;
}
.img_experiences {
  top: -10rem;
  right: 15rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  min-height: 50rem;
}
.qualites dt {
  font-size: 1.7rem;
}
.qualites dd {
  font-size: 1.5rem;
}