
/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  max-height: 115rem;
  max-width: 100vw;
  padding: 5rem!important;
  display: grid;
  grid: 
    "nom contact" 20rem
    "nom langues" 20rem
    "apprends apprends" 1fr / 1fr 2fr;
}

.nom {
  grid-area: nom;
  display: flex;
  justify-content: center;
  padding: 0;
  flex-flow: column nowrap;
  border: none;
}

.nom figure img {
  max-width: 60%;
}
.nom figure figcaption {
  padding: 1rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > CONTACT
 * -----------------------------------------------------------------------------
 */
.contact {
  grid-area: contact;
  margin: 0;
}
/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > APPRENDRE
 * -----------------------------------------------------------------------------
 */
.apprends {
  grid-area: apprends ;
  margin: 4rem;
  padding: 4rem;
  background-color: var(--secondary);
  border-radius: 0%;
}

.liste_icone {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > LANGUES
 * -----------------------------------------------------------------------------
 */
.langues {
  grid-area: langues;
  margin: 0;
  padding: 0;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PROFIL
 * -----------------------------------------------------------------------------
 */
.profil {
  padding: 10rem 4rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  min-height: 95rem;
  padding: 10rem 4rem;
}

.formations dt, .experiences dt {
  margin-top: 5rem;
}

.experiences {
  min-height: 70rem;
  padding: 10rem 4rem;
}

.ul_formations img {
  top: 0;
  right: 2rem;
}
.ul_experiences img {
  top: 0;
  right: 2rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  padding: 10rem 10rem!important;
  min-height: 88rem!important;
}

.qualites dd {
  font-size: 1.5rem;
}















/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  max-height: 130rem;
  padding: 4rem;
}

.nom figure {
  margin-bottom: 2rem;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > PROGRESS
 * -----------------------------------------------------------------------------
 */
progress {
  width: 30rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION > CONTACT
 * -----------------------------------------------------------------------------
 */
.contact, .langues {
  width: 60%;
  margin: auto;
}
.competences, .informations {
  width: 80%;
  margin: auto;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PROFIL
 * -----------------------------------------------------------------------------
 */
.profil {
  padding: 4rem 2rem;
}
.profil p {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  columns: 2;
  white-space: pre-line;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  max-height: 97rem;
}
.formations dl {
  width: 80%;
  margin: 0 auto;
}
.formations dt, .experiences dt {
  margin-top: 2rem;
}
.formations dd, .experiences dd {
  padding-left: 3rem;
}
.experiences {
  padding: 4rem 2rem;
  min-height: 56rem;
}
.img_formations {
  top: 1.1rem;
  left: 53rem;
}
.img_experiences {
  top: -3.1rem;
  right: 2rem;
}
/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  padding: 4rem 2rem;
  min-height: 43rem;
}
.qualites dt {
  font-size: 1.7rem;
}
.qualites dd {
  font-size: 1.5rem;
}