/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > UL LI
 * -----------------------------------------------------------------------------
 */
ul li {
  font-size: 1.5rem;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > DT
 * -----------------------------------------------------------------------------
 */
dt {
  line-height: 1.6em;
  font-size: 1.6rem;
}
dd {
  font-size: 1.5rem;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL > SPAN EM STRONG PROGRESS
 * -----------------------------------------------------------------------------
 */
span, em, strong {
  font-size: 1.4rem;
}

span > i {
  font-size: 1.4rem;
}

progress {
  width: 25rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  max-height: 110rem;
  width: 90%;
  margin: 0 auto;
}

.nom img {
  margin: 3rem 2rem 2rem 2rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION PROFIL
 * -----------------------------------------------------------------------------
 */
.profil {
  padding: 10rem 4rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION FORMATIONS / SECTION EXPERIENCES
 * -----------------------------------------------------------------------------
 */
.formations {
  min-height: 95rem;
  padding: 10rem 4rem;
}

.formations dt, .experiences dt {
  margin-top: 5rem;
}

.experiences {
  min-height: 70rem;
  padding: 10rem 4rem;
}

.ul_formations img {
  top: 0;
  right: 2rem;
}
.ul_experiences img {
  top: 0;
  right: 2rem;
}

/**
 * -----------------------------------------------------------------------------
 * SECTION QUALITES
 * -----------------------------------------------------------------------------
 */
.qualites {
  padding: 10rem 4rem;
  min-height: 50rem;
}

.qualites dd {
  font-size: 1.5rem;
}

